<footer class="post-info">
  <a class="article-thumb" href="{{ SITEURL }}/static/images/articles/{{ article.slug }}.jpg"><img
    src="{{ SITEURL }}/static/images/articles/thumbs/{{ article.slug }}.jpg"
    height="75" width="75" alt="{{ article.slug }}"></a>
  {% if article.summary %}
    <span class="article-summary"><em>{{ article.summary }}</em>.</span>
    {% if page_name != "index" %} <br/> {% endif %}
  {% endif %}
  <!-- In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> -->
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}
  {% include 'taglist.html' %}
  {% if page_name != "index" %} <br/> {% endif %}
  <span class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }},</span>
  {% if article.author %}
  <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>.
  {% endif %}
</footer><!-- /.post-info -->
