<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <meta name = "viewport" content = "width = device-width">
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}">
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}

  <!-- replace with version in static/css/gatepage.css?
  <link rel="stylesheet" href="http://gate.ac.uk/css/page.css"> -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/gatepage.css">
  <link rel="shortcut icon" href="http://gate.ac.uk/images/favicon.ico" type="image/x-icon">

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- replace with versions in static/css? -->
  <!--[if lt IE 7]>
    <style type="text/css" media="screen">
    body {
      behavior: url('http://gate.ac.uk/_images/menu/csshover.htc');
      font-size: 100%;
    }
    </style>
    <link rel="stylesheet" href="http://gate.ac.uk/css/ie-menus.css" />
  <![endif]-->

  <!-- workaround for sup styling prob in default pelican theme -->
  <style type="text/css">
    sup {font-size: 80%; position: relative; bottom: .8ex;}
  </style>

  <!-- sharethis -->
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "e5977250-e340-464c-922e-c1b521b27184", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  <!-- yui grids -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.3/build/cssgrids/cssgrids-min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.3/build/cssgrids-responsive/cssgrids-responsive-min.css">
</head>

<body id="index" class="home">

  <div id="topBar">
    <span id="topLogo">
      <span id="piLogo"><a href="http://raspberrypi.org/"><img src="{{ SITEURL }}/theme/images/raspi-logo.png" alt="Raspberry Pi" border="0" height="55"></a></span>
      <span id="strapLine"><a href="{{ SITEURL }}/">Pi-Tronics from<br/>the GATE people</a></span>
      <a href="http://gate.ac.uk/"><img src="{{ SITEURL }}/theme/images/logo-gate.png" alt="GATE" border="0" height="55"></a>
      <!-- <a href="http://www.shef.ac.uk/dcs/"><img src="{{ SITEURL }}/theme/images/logo-usfd-shield.png" alt="The University of Sheffield" height="55"></a> -->
    </span>
    <div class="horizontal menu">
    <ul>
    <li><b><a href="{{ SITEURL }}">Projects</a></b> <!-- TODO need a page at /pages to link from the top level here -->
      <ul>
      {% for page in PAGES %}
        {% if page.title != "About" %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul></li>
    <li><a href="{{ SITEURL }}/category/news.html">News</a></li>
    <li><a href="{{ SITEURL }}/pages/about.html">About</a></li>
    </ul>
    </div>
    
    <!-- first row header links -->
    <div id="topLoginEtc">
      <form name="searchForm" method="GET" action="http://www.google.com/search" class="inlineForm">
        <label class="pageLink" for="as_q">Search:</label>
        <input type="text" name="as_q" maxlength="255">
        <input type="hidden" name="as_sitesearch" value="pi.gate.ac.uk">
      </form>
    </div>
  </div>

  <!-- header menus -->
  <div id="header">
  </div>

  <!-- sep, left/right bars, body and footer -->
  <div id="topSeparator"> </div>

  <!-- main content div -->
  <div id="main-content">

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <header id="banner" class="body">
    <nav>
    <ul>
    {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
    {% if DISPLAY_PAGES_ON_MENU -%}
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    {% endif %}
    {% if DISPLAY_CATEGORIES_ON_MENU -%}
    {% for cat, null in categories %}
        <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
    {% endfor %}
    {% endif %}
    </ul>
<div id="social-buttons">
  <span class='st_twitter_large' st_via='{{TWITTER_USERNAME}}' displayText='Tweet'></span>
  <span class='st_identi_large' displayText='identi.ca'></span>
  <span class='st_email_large' displayText='Email'></span>
  <span class='st_sharethis_large' displayText='ShareThis'></span>
  <span class='st_linkedin_large' displayText='LinkedIn'></span>
  <span class='st_googleplus_large' displayText='Google +'></span>
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_citeulike_large' displayText='CiteULike'></span>
  <span class='st_tumblr_large' displayText='Tumblr'></span>
  <span><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
    type="application/atom+xml" rel="alternate">
      <img height="30" src='{{ SITEURL }}/theme/images/icons/rss-large.jpg'/>
    </a></span>
</div></nav>
  </header><!-- /#banner -->
<div id="left-column" class='yui3-g-r'>
  <div class="yui3-u-1-2"> <!-- column 1 -->
  {% block content %}
  {% endblock %}
  <section id="extras" class="body">
  {% if LINKS %}
    <div class="blogroll">
      <h2>blogroll</h2> <ul>
      {% for name, link in LINKS %}
          <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
      </ul>
    </div><!-- /.blogroll -->
  {% endif %}
  {% if SOCIAL and ( FEED_ALL_ATOM or FEED_ALL_RSS ) %}
    <div class="social">
      <h2>social</h2>
      <ul>
          <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
          {% if FEED_ALL_RSS %}
          <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
          {% endif %}

      {% for name, link in SOCIAL %}
          <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
      </ul>
    </div><!-- /.social -->
  {% endif %}
  </section><!-- /#extras -->

{% include 'analytics.html' %}
{% include 'piwik.html' %}
{% include 'disqus_script.html' %}

  </div>
  <div id="right-column" class="yui3-u-1-5"> <!-- column 3 -->
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23raspi" data-widget-id="345540484359393280">Tweets about "#raspi"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  </div> <!-- #main-content -->

  <div id="footer">
    <table border="0" align="right"><tbody><tr>
      <td style="vertical-align:bottom; text-align:right;">
      <font size="-2">
        © The <a href="http://www.shef.ac.uk/">University of Sheffield</a>, 1995-2013.<br/>
        This website is licenced under the
        <a rel="license"
        href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike Licence</a>.<br/>
        <a href="http://gate.ac.uk/">GATE</a> is <a href="http://www.fsf.org/">free software</a> under
        <a href="http://www.gnu.org/licenses/">the GNU licences</a> and
        others. All our products and services supplied <b>with no warranty</b>.<br/>
        <em>Raspberry Pi</em> and the Raspberry Pi logo are trademarks of the <a href="http://www.raspberrypi.org/">Raspberry Pi Foundation</a>.
      </font>
      </td>
      <td style="vertical-align:bottom;"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width: 0pt;" src="{{ SITEURL }}/theme/images/cc-by-nc-sa.png"></a><br/><br/>
      </td>
      <td>
        <a href="http://www.shef.ac.uk/dcs/"><img src="{{ SITEURL }}/theme/images/logo-usfd.png" alt="The University of Sheffield" height="70"</a>
      </td>
    </tr>
    </tbody></table>
  </div>
</body>
</html>
