<div id="socialButtons">
  <span class='st_twitter_large' st_via='{{TWITTER_USERNAME}}' displayText='Tweet'></span>
  <span class='st_identi_large' displayText='identi.ca'></span>
  <span class='st_email_large' displayText='Email'></span>
  <span class='st_sharethis_large' displayText='ShareThis'></span>
  <span class='st_linkedin_large' displayText='LinkedIn'></span>
  <span class='st_googleplus_large' displayText='Google +'></span>
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_citeulike_large' displayText='CiteULike'></span>
  <span class='st_tumblr_large' displayText='Tumblr'></span>
  <span><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
    type="application/atom+xml" rel="alternate">
      <img height="30" src="{{ SITEURL }}/theme/images/icons/rss-large.jpg"/>
    </a></span>
</div>
